 /*** global.css -- variables globaux pour les règles de mise en forne du site Booki - projet 2 OpenClassroom
Date de création : 24/07/202    Dev : VPL ****/

/* import de la police  Raleway par  Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  list-style-type: none;
  text-decoration: none;
  max-width: 1366px; /*  largeur maximale de la page */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* indique au navigateur de prendre en compte la bordure
   et le remplissage dans la valeur définie pour la largeur et la hauteur */
}
body {
  font-family: "Raleway", sans-serif;  
}
a{
  color: black;
}
h2{
  font-size: 130%;
}
.euros{
  font-weight: 600;
}
.couleur_bleu{
  color: #0065fc;
}
.couleur_gris_fonce{
  color: #d6d1d1;
}

