/*** style.css -- ensemble des règles de mise en forme
    du site Booki - projet 2 OpenClassroom
Date de création : 24/07/202
Dernière mise à jour : 01/08/2022
Dev : VPL 
****/


/**********   partie navigation   ************************/
a{
  text-decoration: none;
  color: inherit; /** hérite*****/
}

.flex{
  display: flex;
}

/* en-tête */

header{
  justify-content: space-between; /* Les éléments sont répartis équitablement
  Le bord du premier est aligné sur le
  début du conteneur et la fin du dernier
  est alignée sur la fin du conteneur *
  */
  margin-bottom: 35px;
  padding-left: 5%;
  width:90%
}

.logo{
  margin-top: 20px;
  
  
}

.logo img{
  width: 130px;
}

nav li{
  padding-top: 40px;
  padding-right: 20px;
}

nav a{
  padding: 40px 30px 0;
}

nav li a:hover{
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 30px;
}


/************ recherche  ****************/
.section_recherche{
  margin-left: 50px;
}

.section_recherche .localisation {
  display: flex;
}

.section_recherche .fa-map-marker-alt {
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px; /* bordure arrondie  */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%
}

.section_recherche input {
  height: 50px;
  width: 100%;
  border: #f2f2f2 1px solid;
  font-weight: 600;
  font-size: 120%;
}

.section_recherche input::placeholder{ /* personnaliser l'apparence du texte . */
  color: black;
  padding-left: 5%; 
}

.section_recherche .bouton_rechercher {
  cursor: pointer;
  border-radius: 0 10px 10px 0; /* bordure arrondie  */
  font-weight: 600;
  height: 50px;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
  background-color: #0065fc;  
}

.fa-search{
  color: transparent; /* rendre invisible la loupe  **/
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section_recherche p{
  margin-bottom: 2%; 
}




/******************   filtre  ********************/

.section_filtre{
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
}

.section_filtre h3{
  margin: 10px 20px 0 40px;
}

.section_filtre .conteneur_filtre{
  display: flex;
}

.section_filtre .bouton_filtre{
  display: flex;
  align-items: center;
  height: 50px;
  padding-right: 10px;
  border: #dfdede 2px solid;
  border-radius: 30px;  /**bordure arrondie**/
  margin-right: 20px;
  cursor: pointer;
  transition: 2.8s; /** effet visuel****/
  font-size: 100%;
}

.section_filtre .bouton_filtre:hover{
  transform: scale(1.05); /** effet visuel****/
}

.section_filtre .icone_filtre{
  height: 51px; /* pour que l'icone dépasse légèrement du cadre  */
  width: 50px;
  border-radius: 50%;
  background-color: #DEEBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 112%; /*  agrandir l'icone   */
  color: #0065fc;
}

.section_filtre p{
  font-weight: 600;
  font-size: 120%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.section_filtre p:hover{
  color: #0065fc;
}


/****************  information  *******************/

.section_information{
  margin-left: 20px;
}
.info{
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.section_information h2{
  margin-left: 10px;
  font-size: 110%;
  font-weight: 300;
  color: rgb(59, 59, 59);
}

.section_information .icone_information{
  border: #F2F2F2 solid 2px;
  border-radius: 50%; /* bordure arrondie  */
  height: 25px;
  width: 25px;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.section_information i{
  font-size: 80%;
  
}

/****     hebergement        *****/

Main{
  display: flex; /** éléments flexibles ***/ 
  margin-top: 50px;
  padding-left: 2%;
}
.section_hebergement{
  background: #F2F2F2;
  width: 65%;
  height: 650px;
  border-radius: 20px;  /** arrondi du cadre  ***/
  margin-right: 40px;
}
.section_hebergement h2{
  margin: 40px 0 40px 20px;
}
.hebergement_haut{
  display: flex; /** éléments flexibles ***/ 
  justify-content: space-around; /** Les éléments s'affichent avec un espacement égal à l'entour d'eux   **/
  flex-wrap: wrap; /** Les éléments flexibles sont disposé sur plusieurs lignes ***/
}

.section_hebergement img{
  object-fit: cover; /* Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage tout en remplissant toute la boîte de contenu */
  width: 100%;
  height: 120px;
  border-radius: 20px 25px 0 0; /***arrondi du cadre***/ 
  padding-right: 10px;
  margin: 5px 0 0 5px;
}

.section_hebergement .carte_hebergement{
  width: 220px;
  height: auto;
  background: white;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px; /***arrondi du cadre***/ 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062); /***  ajoute une ombre au cadre  **/
  transition: 0.8s; /*  définir la transition entre deux états des cartes hébergements **/
  padding-bottom: 10px;
}

.section_hebergement .carte_hebergement:hover{
  transform: scale(1.09); /** effet visuelle (changer la perspective) **/ 
}

.carte_hebergement_texte{
  margin-left: 15px;
  line-height: 25px;
}



.section_hebergement .notation{
  font-size: 90%;
}
.hebergement_bas{
  display: flex;
  justify-content: space-around; /** Les éléments s'affichent avec un espacement égal à l'entour d'eux   **/
  flex-wrap: wrap; /** Les éléments flexibles sont disposé sur plusieurs lignes ***/
}

.section_hebergement .couleur_bleu{
  color: #0065fc;
}
.section_hebergement .couleur_gris_fonce{
  color: #d6d1d1;
}

.section_hebergement .afficher_plus{
  margin-left: 30px;
  font-weight: 600;
  cursor: pointer;
  font-size: 113%;
}

/****** populaire *******/
.section_populaire{
  background: #F2F2F2;
  width: 30%;
  height: 650px;
  border-radius: 20px; /* bordure arrondie  */
}

.section_populaire .titre_populaire{
  display: flex;
  justify-content: space-around;/* Les éléments sont répartis équitablement
  À chaque extrémité, entre le bord du
  conteneur et le premier/dernier élément
  on a la moitié de l'espace appliqué entre
  chaque élément */
  align-items: center;
  margin: 40px 0;
}

.fa-chart-line{
  font-size: 25px;
}

.section_populaire .carte_populaire{
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  height: 145px;
  width: 290px;
  margin-bottom: 30px;
  display: flex;
  margin-left: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062); /*** bordure effet ombre  ***/
  transition: 0.8s; /** effet visuel **/
}
.section_populaire .carte_populaire:hover{
  transform: scale(1.09);  /** effet visuel **/
}

.section_populaire img{
  object-fit: cover; /***  Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage  ***/
  height: 140px;
  width: 110px;
  border-radius: 20px 0 0 20px; /** bordure arrondi  **/
  padding: 3%;
}
.section_populaire .carte_hebergement_texte{
  margin-top: 1%;
}

.section_populaire .notation{
  margin-top: 25px;
}
.section_populaire .couleur_bleu{
  color: #0065fc;
  font-size: 80%;
}
.section_populaire .couleur_gris_fonce{
  color: #d6d1d1;
  font-size: 80%;
}



/****  activites  *****/
.section_activite{
  width: 100%;
  margin-left: 50px; 
  
}

.section_activite h2{
  margin: 40px 0 30px 0;   
}

.section_activite .activite{
  display: flex;
  height: 600px;
  gap: 1%;  /*** taille entre les lignes d'un éléments*****/
}

.section_activite .carte_activite_colonne .carte_activite_petit {
  margin-bottom: 74px;
  
} 


.section_activite .activite .carte_activite_colonne {
  width: 24%;
} 

.section_activite .activite .carte_activite_grand {
  width: 24%;
} 

.section_activite .activite  a .carte_activite_grand {
  width: 24%;
} 



.section_activite img{
  object-fit: cover; /***  Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage  ***/
  width: 260px;
  border-radius: 15px 15px 0 0; /*** bordure arrondie  ***/
  max-width: 100%;
}

.image_activite_vieux_port, .image_activite_calanques{
  height: 480px;
}
.image_activite_pomegues{
  height: 225px;
}
.image_activite_frioul{
  height: 155px;
}
.picture-acimage_activite_garde{
  height: 200px;
}
.image_activite_longchamp{
  height: 200px;
}

.carte_activite{
  border-radius: 15px; /*** bordure arrondie***/
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.062); /*** ombre autour du cadre ***/
  max-height: 535px;
  transition: 0.8s;  /***  effet visuel*****/
  padding-bottom: 20px;
} 

.carte_activite:hover{
  transform: scale(1.05); /***  effet visuel*****/
}

.section_activite .carte_activite_texte{
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
}


/***  pied de page ****/

.pied_page{
  background: #F2F2F2;
  height: 280px;
  display: flex;
  padding-top: 2%;
  margin-top: 0;
}

.section_pied_page{
  flex: 1;
  padding-left: 50px;
}

footer h4{
  font-weight: 900;
  font-size: 120%;
  line-height: 50px;
}
footer a{
  line-height: 30px;
  color: rgb(59, 59, 59);
}

 
  
